In [10]:
import os
import re
import glob
import pandas as pd

In [28]:
meses={"Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12}

dfs=[]

for i in glob.glob('./*.txt'):
    data=pd.read_csv(i, sep=" ", header=None)
    data.columns=["fecha"]
    data["dia"]=data["fecha"].apply(lambda x: re.search(r'^\d{1,2}(?=[-/. ])', x).group()).astype(int)
    data["mes"]=data["fecha"].apply(lambda x: re.search(r'(?<=[-/. ])(\d{1,2}|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)(?=[-/. ])', x).group())
    data["mes"]=data["mes"].apply(lambda x: meses.get(x, x)).astype(int)
    data["año"]=data["fecha"].apply(lambda x: re.search(r'(?<=[-/. ])\d{2,4}$', x).group()).astype(int)
    dfs.append(data)

In [29]:
final_data=pd.concat(dfs, ignore_index=True)

In [30]:
final_data

            fecha  dia  mes   año
0      23/02/2017   23    2  2017
1      21/11/2016   21   11  2016
2      12/02/2017   12    2  2017
3      06/06/2016    6    6  2016
4      04/05/2018    4    5  2018
...           ...  ...  ...   ...
20995  08.05.2016    8    5  2016
20996  28.09.2016   28    9  2016
20997  14.04.2019   14    4  2019
20998  11.12.2014   11   12  2014
20999  13.08.2018   13    8  2018

[21000 rows x 4 columns]

In [34]:
data["dia"].mean()

15.479

In [35]:
data["mes"].mean()

6.497

In [36]:
data["año"].mean()

2016.694